*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/static/Inter_18pt-Regular.ttf);
}
@font-face {
  font-family: "inter1";
  src: url(../fonts/static/Inter_18pt-Bold.ttf);
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/fonts/icomoon.eot?ge16s4");
  src: url("../fonts/fonts/icomoon.eot?ge16s4#iefix")
      format("embedded-opentype"),
    url("../fonts/fonts/icomoon.ttf?ge16s4") format("truetype"),
    url("../fonts/fonts/icomoon.woff?ge16s4") format("woff"),
    url("../fonts/fonts/icomoon.svg?ge16s4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
  color: white;
}
.icon-circle-down:before {
  content: "\ea43";
}
h1,
h2 {
  font-family: inter1;
}

body {
  font-family: "inter";
  background-color: #000;
}
/* Container */
.container {
  width: 85%;
  margin: 0 auto;
}
/* HEADER */
.header {
  width: 100%;
  height: 84px;
  display: flex;
  padding: 20px 60px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px 50px;
  z-index: 100;
}

/* HEADER..LOGO */
.logo {
  width: 20%;
  padding-top: 5px;
}

.logo img {
  display: block;
  width: 116px;
  height: 58px;
}

/* HEADER...SEARCH-BOX */
.search-box {
  width: 60%;
  padding: 12px 20px;
}

.search-box input {
  width: 100%;
  height: 48px;
  font-size: 15px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 10px;
  outline: none;
}
.search-box input:focus {
  border-color: #f5c518;
}

/* HEADER...MENU-HUMBERGER */
.hamburger {
  width: 20%;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.hamburger > ul > li > a.drop-btn {
  color: white;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.hamburger2 {
  position: absolute;
  top: 100%;
  left: 55px;
  width: 150px;
  max-height: 0;
  background-color: #181818;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1001;
}

.hamburger2.active {
  max-height: 400px;
  padding: 15px 0;
  overflow-y: auto;
}

.hamburger2 li {
  padding: 10px 20px;
}

.hamburger2 li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.hamburger2 li a:hover {
  color: #f5c518;
}

.hamburger2::-webkit-scrollbar {
  width: 5px;
}

.hamburger2::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

.hamburger2::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
/* HERO SLIDER */
.main {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  border-radius: 1px;
  margin-bottom: 20px;
}

/* هر اسلاید */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* اسلاید فعال */
.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* اطلاعات روی اسلاید (ژانر، پلات ...) */
.hero-info {
  position: absolute;
  bottom: 80px;
  left: 70px;
  color: #fff;
  max-width: 40%;
}
.movie-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}

/* ژانرها */
.genres span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 16px;
  margin-right: 6px;
  margin-bottom: 8px;
  font-size: 14px;
}

.genres span a {
  color: white;
  text-decoration: none;
}

/* پلات */
.hero-info p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.6;
  color: #e3e3e3;
}

/* تاریخ انتشار */
.hero-info span {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.genres span:hover {
  background-color: #000;
}

/* ریسپانسیو */
@media (max-width: 768px) {
  .hero-info {
    left: 25px;
    bottom: 50px;
    max-width: 80%;
  }

  .hero-info p {
    font-size: 14px;
  }

  .genres span {
    font-size: 12px;
    padding: 4px 10px;
  }
}

/* MOVIE-ITEMS  */
.movie-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  padding: 0;
}

.movie-items li {
  list-style: none;
  width: 243px;
  height: 450px;
  background: #1b1b1b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}
.photo {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 30%;
  text-align: left;
  padding: 10px 20px;
}

.movie-info h3 {
  color: white;
  font-size: 18px;
  text-align: left;
}
.movie-info p {
  color: rgba(188, 188, 188, 1);
  font-size: 14px;
  margin-bottom: 20px;
}
.rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}
.rank span {
  color: white;
}
.rank .view-btn {
  width: 95px;
  height: 36px;
  padding: 8px 16px;
  background-color: rgba(78, 78, 78, 0.5);
  color: rgba(28, 151, 255, 1);
  border: none;
  border-radius: 13px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* FOOTER */
.main-footer {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

/* PAGINATION  */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  gap: 8px; /* فاصله بین آیتم‌ها */
}

/* دکمه‌های فلش */
.arrow-btn {
  background: #111;
  color: white;
  padding: 10px 14px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.arrow-btn:hover {
  background: #ffcc00;
  color: #000;
}

/* کانتینر شماره صفحات */
#pageNumbers {
  display: flex;
  margin: 20px 10px;
  gap: 20px; /* فاصله بین اعداد */
}

/* هر عدد صفحه */
.page-btn {
  padding: 8px 14px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: rgba(188, 188, 188, 1);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
}

/* عدد صفحه فعال */
.page-btn.active {
  background: #ffcc00;
  color: #000;
  font-size: 18px;
}

/* هاور عدد صفحه */
.page-btn:hover {
  background: #ffcc00;
  color: #000;
}

/* سه نقطه */
.ellipsis {
  color: #777;
  padding: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* overlay  */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* spinner چرخان */
.spinner {
  border: 8px solid #f3f3f3; /* خاکستری روشن */
  border-top: 8px solid #3498db; /* آبی */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hamburger {
    width: 180px;
  }

  .hamburger2 {
    width: 180px;
    left: 0;
  }
}
