*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/static/Inter_18pt-Regular.ttf);
}
@font-face {
  font-family: "inter1";
  src: url(../fonts/static/Inter_18pt-Bold.ttf);
}

body {
  font-family: "inter";
  background-color: #000;
}
/* Container */
.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 10px;
}
/* HEADER */
.header {
  width: 100%;
  height: 84px;
  margin: 1px 65px;
  display: flex;
  padding: 0px 50px;
  position: absolute;
  left: 0;
  top: 0;
}
/* HEADER..LOGO */
.logo {
  width: 20%;
}
.logo img {
  display: block;
  width: 50%;
}
/* HEADER...SEARCH-BOX */
.search-box {
  width: 60%;
  height: 100%;
  margin: 15px;
}
.search-box input {
  width: 100%;
  height: 50%;
  font-size: 15px;
  padding: 10px;
  background-color: #000;
  color: aliceblue;
  border-radius: 10px;
}
/* HEADER...MENU */
.menu {
  width: 20%;
}

.main {
  width: 100%;
  height: 100vh;
  background: url(../picture/DUNE.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 100px 80px;
}
.main h1 {
  font-family: "inter1";
  font-size: 48px;
  color: white;
  margin-top: 100px;
}
.button {
  width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.button span {
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.button span a {
  color: white;
  font-size: 14px;
}
.button span:hover {
  background-color: #000;
  transition: 1s;
}
.main p {
  color: white;
  font-size: 16px;
}
.main span {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
