*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "inter";
  src: url(../fonts/static/Inter_18pt-Regular.ttf);
}
@font-face {
  font-family: "inter1";
  src: url(../fonts/static/Inter_18pt-Bold.ttf);
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/fonts/icomoon.eot?ge16s4");
  src: url("../fonts/fonts/icomoon.eot?ge16s4#iefix")
      format("embedded-opentype"),
    url("../fonts/fonts/icomoon.ttf?ge16s4") format("truetype"),
    url("../fonts/fonts/icomoon.woff?ge16s4") format("woff"),
    url("../fonts/fonts/icomoon.svg?ge16s4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
  color: white;
}
.icon-circle-down:before {
  content: "\ea43";
}

body {
  font-family: "inter";
  background-color: #000;
}
/* Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
.header {
  width: 100%;
  height: 84px;
  display: flex;
  padding: 20px 80px;
  position: absolute;
  left: 0;
  top: 0;
}
/* HEADER..LOGO */
.logo {
  width: 20%;
}

.logo img {
  display: block;
  width: 116px;
  height: 58px;
}

/* HEADER...SEARCH-BOX */
.search-box {
  width: 75%;
  padding: 12px 20px;
}
.search-box input {
  width: 100%;
  height: 48px;
  font-size: 15px;
  padding: 10px;
  background-color: #000;
  color: white;
  border-radius: 10px;
}
/* HEADER...MENU-HUMBERGER */
.hamburger {
  width: 20%;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.hamburger > ul > li > a.drop-btn {
  color: white;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.hamburger2 {
  position: absolute;
  top: 100%;
  left: 70px;
  width: max-content;
  max-height: 300px;
  overflow-y: hidden;
  max-height: 0;
  background-color: rgba(24, 24, 24, 1);
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  transition: 0.3s;
  margin-top: 10px;
}

.hamburger2.active {
  max-height: 300px;
  padding: 20px;
  font-size: 14px;
  overflow-y: auto;
}

.hamburger2 li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.hamburger2::-webkit-scrollbar {
  width: 8px;
}

.hamburger2::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

.hamburger2::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* .hamburger {
  width: 20%;
  text-align: center;
  margin-top: 30px;
}
.hamburger > ul > li > a {
  color: white;
  font-size: 16px;
  position: relative;
}
.hamburger2 {
  display: none;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 30px;
  position: absolute;
  top: 80px;
  right: 135px;
  border: 0.5px solid black;
  border-radius: 10px;
  background-color: rgba(24, 24, 24, 1);
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  max-height: 300px;
}
.hamburger2::-webkit-scrollbar-thumb {
  background: black;
}
.hamburger2 li a {
  color: white;
  font-size: 16px;
} */
.main {
  width: 100%;
  height: 100vh;
  background: url(../picture/hero.jpg) no-repeat 10px -10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 100px 80px;
}
.main h1 {
  font-family: "inter1";
  font-size: 48px;
  color: white;
  margin-top: 100px;
}
.button {
  width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.button span {
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.button span a {
  color: white;
  font-size: 14px;
}
.button span:hover {
  background-color: #000;
  transition: 1s;
}
.main p {
  color: white;
  font-size: 16px;
}
.main span {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .hamburger {
    width: 180px;
  }

  .hamburger2 {
    width: 180px;
    left: 0;
  }
}
